<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Layout_Logout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AI_Logout.css') }}">
    <title>AI</title>
</head>

<body>
    <div class="topic">
        <div class="name">
            <h1>CalsFood</h1>
            <h4>เว็บไซต์คำนวนแคลอรี่อาหารตามสั่งไทย</h4>
        </div>
        <img src="{{ url_for('static', filename='Image/BG-topic.webp') }}">
    </div>

    <div class="menu-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='Image/logo.webp') }}">
            <h2>CalsFood</h2>
        </div>

        <a class="button" id="Home_Logout" href="/">Home</a>
        <a class="button" id="Design" href="/design">Design</a>
        <a class="button" id="AI" href="/ai-test">AI</a>
        <a class="button" id="Inventory" href="/inventory">Inventory</a>

        <div class="account">
            <img id="icon-profile" src="{{ url_for('static', filename='Image/icon-profile.png') }}">
            <a href="{{ url_for('auth.login') }}">Sign in</a>
        </div>
    </div>

    <div class="background">
        <img src="https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
    </div>

    <div class="content">
        <div class="food-analyzer">
            <h1>Food Analyzer</h1>
            <div class="analyzer-box">
                <div class="upload-area">
                    <img src="{{ url_for('static', filename='Image/icon-image.png') }}" class="upload-icon">
                    <input type="file" id="file-input" accept="image/*" style="display: none">
                    <button class="upload-btn" onclick="document.getElementById('file-input').click()">อัพโหลดรูปภาพ</button>                
                </div>
            </div>
        </div>
        <p class="disclaimer">หมายเหตุ : AI ที่ใช้ในการประมวลผลอาหารอาจเกิดข้อผิดพลาดได้ หากอาหารที่ระบุไม่มีอยู่ในฐานข้อมูล ระบบอาจไม่สามารถให้ผลลัพธ์ที่ถูกต้องได้ โดยสามารถใช้งานได้กับอาหารไทยจานเดียวตามสั่งเท่านั้น</p>
    </div>

    <script src="{{ url_for('static', filename='js/AI_Logout.js') }}"></script>
</body>
</html>