<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Layout_Logout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Home_Logout.css') }}">
    <title>Create Account</title>
</head>
<body>
    <div class="topic">
        <div class="name">
            <h1>CalsFood</h1>
            <h4>เว็บไซต์คำนวนแคลลอรี่อาหารตามสั่งไทย</h4>
        </div>
        <img src="{{ url_for('static', filename='Image/BG-topic.webp') }}">
    </div>

    <div class="menu-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='Image/logo.webp') }}">
            <h2>CalsFood</h2>
        </div>
                
        {%if user.is_authenticated %}
        <a class="button" id="Home_Login" href="/">Home</a> 
        <a class="button" id="Design" href="/design">Design</a>
        <a class="button" id="AI" href="/ai-test">AI</a>
        <a class="button" id="Inventory" href="/inventory">Inventory</a>
        {% else %}
        {# ถ้าuser ยังไม่ได้มีการ login เมื่อกดหน้าอื่น ให้มันไปแสดงที่หน้า Signin หรือ Login #}
        <a class="button" id="Home_Logout" href="/">Home</a>
        <a class="button" id="Design" href="/design">Design</a>
        <a class="button" id="AI" href="/ai-test">AI</a>
        <a class="button" id="Inventory" href="/inventory">Inventory</a>
        {% endif %}

        <div class="account">
            <img id="icon-profile" src="{{ url_for('static', filename='Image/icon-profile.png') }}">
            <a href="{{ url_for('auth.login') }}">Sign in</a>
        </div>
    </div>

    <div class="content">
        <div class="slider-container">
            <div class="slider">
                <div class="slide active">
                    <img src="{{ url_for('static', filename='Image/แนะนำ1.png') }}" alt="Slide 1">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='Image/แนะนำ2.png') }}" alt="Slide 2">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='Image/แนะนำ3.jpg') }}" alt="Slide 3">
                </div>
            </div>
            <div class="dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="inventory-section">
            <div class="inventory-box">
                <h2>รายการของคุณ</h2>
                <div class="login-prompt">
                    <p>กรุณาเข้าสู่ระบบเพื่อดูรายการอาหารของคุณ</p>
                    <a href="{{ url_for('auth.login') }}" class="login-button">Login</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/Layout_Home.js') }}"></script>
</body>
</html> 